# Android Studio/IntelliJ
*.iml
.idea/
.gradle/            # Gradle cache (safe to ignore)
!gradle/wrapper/    # Keep Gradle wrapper

local.properties    # SDK location (local only)

# Build outputs
/build/
*/build/

# NDK / CMake / Native
.externalNativeBuild/
.cxx/

# OS files
.DS_Store
captures/

# Logs
*.log
